/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-header {
  position: absolute;
  width: 100%;
  padding: 0.7rem 0;
  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .right-side-navigation {
      display: flex;
      flex-direction: row;
      .menu-menu-menu-container {
        a {
          padding: 0 0.7rem;
          color: #248a83;
          text-transform: uppercase;
          font-family: 'Novecento Sans Web', sans-serif;
          font-size: 1rem;
        }
      }
      .header-search {
        label {
          display: none;
        }
      }
    }
  }
}

// Home Hero Section
.home-hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.35)
    ),
    url(../../assets/images/home-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .home-hero-logo {
    max-width: 300px;
  }
}

// Shop Stuff Section
.front-page-products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #2f1339;
    font-family: 'Novecento Sans Web', sans-serif;
    font-weight: lighter;
    font-size: 2.4rem;
  }
  .product-terms {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 10rem 0 10rem;
    .product-term {
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      list-style: none;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 21rem;
      img {
        width: 4rem;
        margin-top: 0.7rem;
      }
      .term-description {
        margin: 1.2rem 1rem 0.5rem 1rem;
        text-align: center;
        font-family: 'Merriweather Web', sans-serif;
      }
      .term-stuff {
        background-color: #248a83;
        padding: 0.8rem 1.6rem;
        a {
          color: $color__background-body;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'Novecento Sans Web', sans-serif;
        }
      }
    }
  }
}

// Inhabitent Journal Section
.inhabitent-journal {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #2f1339;
    font-family: 'Novecento Sans Web', sans-serif;
    font-weight: lighter;
    font-size: 2.4rem;
  }
  .journal-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    .journal-post-content {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      width: 80%;
      .journal-post-item {
        list-style: none;
        padding: 0 1rem 0 1rem;
        width: 33.33%;
        .post-thumbnail {
          img {
            object-fit: cover;
          }
        }
        .journal-post-text {
          border: 1px solid #e1e1e1;
          border-top-width: 0.3rem;
          padding: 0.8rem;
          .date-comment {
            font-size: 0.75rem;
          }
        }
        p {
          font-family: 'Merriweather Web', serif;
          font-size: 15px;
          font-size: 0.9rem;
        }
        h3 {
          font-family: 'Novecento Sans Web', sans-serif;
          text-transform: uppercase;
          color: #248a83;
          font-size: 1.3rem;
          letter-spacing: 2px;
        }
        .read-more {
          font-family: 'Novecento Sans Web', sans-serif;
          font-size: 0.9rem;
          border: 1px solid black;
          padding: 0.8rem;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
        }
      }
    }
  }
}

// Footer Section
.site-footer {
  background: url(../../assets/images/dark-wood.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  height: 22rem;
  display: flex;
  justify-content: center;
  .site-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10rem 0 10rem;
    flex-wrap: wrap;
    padding-top: 3rem;
    h3 {
      color: #d99054;
      font-family: 'Novecento Sans Web', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 7px;
    }
    .contact-info {
      width: 25%;
      .email-block {
        .fa-envelope {
          color: $color__background-body;
        }
        .email-info {
          text-decoration: none;
          color: $color__background-body;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .number-block {
        .fa-phone {
          color: $color__background-body;
        }
        .number-info {
          text-decoration: none;
          color: $color__background-body;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .social-media-block {
        display: flex;
        flex-direction: row;
        p {
          .fab {
            color: $color__background-body;
          }
          .fa-twitter-square {
            padding: 0 12px 0 12px;
          }
        }
      }
    }
    .business-hours {
      width: 25%;
      h3 {
        color: #d99054;
      }
      p {
        color: $color__background-body;
        span {
          font-weight: bolder;
        }
      }
    }
    .footer-logo {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-self: flex-start;
      img {
        color: $color__background-body;
      }
    }
    .website-copyright {
      width: 100%;
      display: flex;
      justify-content: center;
      p {
        color: $color__background-body;
      }
    }
  }
}

/* Shop Page */
.archive {
  .site-content {
    .container {
      padding-top: 50px;
      margin: 0 auto;
      width: 1120px;
      .page-header {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border-bottom: 1px dashed #c8c8c8;
        line-height: 4rem;
        h2 {
          text-align: center;
          text-transform: uppercase;
          font-family: 'Novecento Sans Web', sans-serif;
          font-size: 2.3rem;
          margin-bottom: 0;
          letter-spacing: 0.2rem;
        }
        .product-terms {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding: 0 1.2rem;
            a {
              text-decoration: none;
              text-transform: uppercase;
              color: #248a83;
              font-size: 1.2rem;
            }
          }
        }
      }
      .product-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .product {
          margin-top: 2rem;
          width: 24%;
          img {
            width: 19rem;
            height: 14rem;
            object-fit: cover;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}

/* taxonomy term links */
.tax-product-type {
  .container {
    .page-header {
      text-align: center;
      .page-title {
        text-transform: uppercase;
      }
      p {
        font-family: 'Merriweather Web', sans-serif;
      }
    }
    .product {
      width: 25%;
    }
  }
}

/* Journal/ Find Us page and Sidebar styling */
.blog, .page-find-us, .single-post, .date {
  .hfeed {
    width: 100%;
    .site-header {
      border-bottom: 1px solid #e1e1e1;
    }
    .site-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 1120px;
      padding-top: 3.4rem;
      margin: 0 auto;
      .content-area {
        border-right: 1px solid #e1e1e1;
        width: 73%;
        padding: 4rem 4rem 4rem 0;
        article {
          position: relative;
          .entry-title {
            position: absolute;

          }
          .entry-meta {
            position: absolute;
          }

        }
      }
      .widget-area {
        padding: 3rem 0 3rem 3rem;
        width: 27%;
        .widget_archive {
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style: none;
              a {
                text-decoration: none;
                color: #248a83;
              }
            }
          }
        }
        .widget {
          margin-bottom: 2.5rem;
          
          .widget-title {
            text-transform: uppercase;
            color: #2f1339;
            font-family: 'Novecento Sans Web', sans-serif;
            font-size: 1.5rem;
            letter-spacing: .15rem;
          }
        }
        .sidebar-container-item {
          a {
            text-decoration: none;
            color: #248a83;
          }
        }
        a, span, p {
          font-family: 'Merriweather Web', sans-serif;
        }
      }
    }
  }
}

/* Single Product Hide Sidebar */


/* Find Us Page */
.page-find-us {
  .content-area {
    .entry-title {
      position: absolute;
    }
    .entry-title, h2 {
      text-transform: uppercase;
      color: #2f1339;
      font-family: 'Novecento Sans Web', sans-serif;
      font-size: 2.1rem;
    }
  }
}

/* About Page  */
.page-about {
  .hfeed {
    .site-header {
      .main-navigation {
        position: absolute;
      }
    }
    .site-content {
      .content-area {
        .site-main {
          article {
            .entry-header {
              display: none;
            }
            .entry-content {
              margin: 0;
              .hero-image-header {
                height: 50rem;
                .entry-title {
                  color: $color__background-body;
                  text-transform: uppercase;
                  font-family: 'Novecento Sans Web', sans-serif;
                  font-size: 3rem;
                }
              }
              h2,
              p {
                text-align: center;
                max-width: 800px;
                margin: 0 auto 0 auto;
              }
              h2 {
                font-family: 'Novecento Sans Web', sans-serif;
                color: #2f1339;
                margin-top: 2rem;
                margin-bottom: 1.2rem;
                font-size: 2rem;
              }
              p {
                font-family: 'Merriweather web', sans-serif;
                margin-top: 1.6rem;
                margin-bottom: 2rem;
                line-height: 1.9rem;
              }
            }
          }
        }
      }
    }
  }
}


/* Shop, Journal, Find Us page styling */
.archive,
.blog,
.page-find-us, .single-product, .single-post {
  .site-header {
    border-bottom: 1px solid #e1e1e1;
    .front-page-tent {
      background: url(../../assets/images/logos/inhabitent-logo-tent.svg);
      background-size: 50px 33px;
      background-repeat: no-repeat;
      background-position: center;
      object-fit: contain;
      width: 4rem;
      height: 2rem;
      img {
        visibility: hidden;
      }
    }
  }
}


/* Hide Shop Sidebar widget */
.archive, .single-product {
  .site-content {
    .content-area {
      .nav-previous {
        display: none;
      }
    }
    .widget-area {
      display: none;
    }
  }
}

/* Front Page/About Header Text and SVG color */
.page-about,
.home {
  .hfeed {
    .site-header {
      .main-navigation {
        .tent-container {
          .front-page-tent {
            background: url(../../assets/images/logos/inhabitent-logo-tent-white.svg);
            background-size: 50px 33px;
            background-repeat: no-repeat;
            background-position: center;
            object-fit: contain;
            width: 4rem;
            height: 2rem;
            img {
              visibility: hidden;
            }
          }
        }
        .menu-menu-menu-container {
          .menu {
            a {
              color: $color__background-body;
            }
          }
        }
      }
    }
  }
}
