/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

// Home Hero Section
.site-header {
    display: flex;
    flex-direction: row;
  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    a {
        width: 5rem;
    }
    .menu-menu-menu-container {
        .menu {
            .menu-item {
                a {
                    color: orange;
                }
            }
        }
    }
  }
}

.home-hero {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(../../assets/images/home-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  img {
    position: relative;
    width: 18rem;
  }
}

// Shop Stuff Section
.front-page-products {
    .product-terms {
        display: flex;
        flex-direction: row;
        .product-term {
            list-style: none;
        }
    }
}

// Inhabitent Journal Section
.inhabitent-journal {
  padding-top: 5rem;
  display: flex;
//   justify-content: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  .journal-post-content {
    display: flex;
    flex-direction: row;
    .journal-post-item {
        list-style: none;
        .post-thumbnail {
            img {
                object-fit: cover;
            }
        }
        h3 {
            font-family: 'Novecento Sans Web', sans-serif;
            text-transform: uppercase;
            color: #248A83;
        }
        p {
            // font-family: 'Merriweather Web', serif;
            font-size: 15px;
        }
    }
  }
}

// Footer Section
.site-footer {
  background: url(../../assets/images/dark-wood.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  height: 22rem;
  display: flex;
  justify-content: center;
  .site-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10rem 0 10rem;
    flex-wrap: wrap;
    padding-top: 3rem;
    h3 {
      color: #d99054;
      font-family: 'Novecento Sans Web', sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 7px;
    }
    .contact-info {
      width: 25%;
      .email-block {
        .fa-envelope {
          color: $color__background-body;
        }
        .email-info {
          text-decoration: none;
          color: $color__background-body;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .number-block {
        .fa-phone {
          color: $color__background-body;
        }
        .number-info {
          text-decoration: none;
          color: $color__background-body;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .social-media-block {
        display: flex;
        flex-direction: row;
        p {
          .fab {
            color: $color__background-body;
          }
          .fa-twitter-square {
            padding: 0 12px 0 12px;
          }
        }
      }
    }
    .business-hours {
      width: 25%;
      h3 {
        color: #d99054;
      }
      p {
        color: $color__background-body;
        span {
          font-weight: bolder;
        }
      }
    }
    .footer-logo {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-self: flex-start;
      img {
        color: $color__background-body;
        // width: 15rem;
      }
    }
    .website-copyright {
      width: 100%;
      display: flex;
      justify-content: center;
      p {
        color: $color__background-body;
      }
    }
  }
}

.hero-image-header {
  height: 50rem;
}
